.container {
  width: 730px;
}

.slider__wrapper {
  width: 730px;
  height: 730px;
  border: 0.5rem solid snow;
  overflow: hidden;
}

.slider {
  width: 400%;
  height: 100%;
  display: flex;
}
.slider__item {
  width: 25%;
  transition: all 0.5s;
}

.slider__input {
  position: absolute;
  display: none;
}
.slider__button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.2rem solid rgb(106, 106, 238);
  background: rgb(106, 106, 238);
  margin: 0.5rem;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.5s;
}
.slider__button:hover {
  border: 2px solid snow;
  background-color: snow;
  opacity: 1;
  transform: scale(1.2);
}

.slider__input:checked + .slider__button {
  background: none;
}
.slider__description--wrapper {
  width: 620px;
  overflow: hidden;
}
.slider__descriptions {
  display: flex;
  width: 400%;
}
.slider__description {
  color: snow;
  font-size: 2rem;
  width: 100%;
}
.slider__buttons {
  display: flex;
}

.controls__wrapper {
  margin-top: 2rem;
  display: flex;
}

#r1:checked ~ .slider__wrapper .slider .s1 {
  margin-left: 0;
}
#r2:checked ~ .slider__wrapper .slider .s2 {
  margin-left: -25%;
}
#r3:checked ~ .slider__wrapper .slider .s3 {
  margin-left: -50%;
}
#r4:checked ~ .slider__wrapper .slider .s4 {
  margin-left: -75%;
}

#r1:checked
  ~ .controls__wrapper
  .slider__buttons--wrapper
  .slider__buttons
  #label__r1 {
  background: none;
}
#r2:checked
  ~ .controls__wrapper
  .slider__buttons--wrapper
  .slider__buttons
  #label__r2 {
  background: none;
}
#r3:checked
  ~ .controls__wrapper
  .slider__buttons--wrapper
  .slider__buttons
  #label__r3 {
  background: none;
}
#r4:checked
  ~ .controls__wrapper
  .slider__buttons--wrapper
  .slider__buttons
  #label__r4 {
  background: none;
}

@media screen and (max-width: 768px) {
  .slider__wrapper {
    width: 400px;
    height: 400px;
  }
  .slider__description--wrapper {
    width: 400px;
    overflow: hidden;
  }
  .container {
    width: 400px;
  }
  .controls__wrapper {
    flex-direction: column;
  }
  .slider__buttons--wrapper {
    order: -1;
    margin: auto;
    padding-bottom: 20px;
  }
}

